[Unit]
Description=Service to play audio via rfid tags or a webpage

[Service]
Type=simple
User=pi
ExecStart=%h/ToddlerTransducer/install/launch_toddler_transducer.sh
Restart=always

[Install]
WantedBy=multi-user.target
